body,button,input{font-family:"IBM Plex Sans Thai",sans-serif}
body{
  background-color:#D4FFA8;
  overflow:hidden
}
ol{font-size:17px}

::-webkit-scrollbar {
  width:10px;
}
::-webkit-scrollbar-track {
  background:transparent;
}
::-webkit-scrollbar-thumb {
  background:#404040;
  border-radius:99px;
  &:hover {
    background:#303030;
  }
}

.App{text-align:center}
#lets-start .app-foot{
  position:absolute;
  width:100%;
  bottom:10%;
}

.btn{
  border:none;
  background-color:black;
  color:white;
  padding:10px 60px;
  border-radius:25px;
  cursor:pointer;
  transition-duration:300ms;
  font-size:1.2em;
  z-index:2;
  &.correct{
    background-color:#00D604;
    &:hover{
      background-color:#47E149;
      box-shadow:1px 1px 5px #00D604;
    }
  }
  &.incorrect{
    background-color:#E00000;
    &:hover{
      background-color:#E63737;
      box-shadow:1px 1px 5px #E00000;
    }
  }
  &:hover{
    background-color:#404040;
    box-shadow:1px 1px 5px black;
    transition-duration:300ms;
  }
}

.category{
  position:absolute;
  left:40px;
  top:90px;
  font-size:24px
}

.sec-right,#score-result{.btn{padding:10px 40px}}
.btns-check,.sec-right{
  display:flex;
  justify-content: center;
  gap:20px;
}

#timer{
  position:absolute;
  left:0;top:0;
  font-size:48px;
  text-align:center;
  width:100%;
}

.head-game{
  display:flex;
  justify-content: space-between;
  padding:20px 40px;
  transform:translateY(-200%);
  align-items:center;
}

.game{background-color:#E0E4FF}

.back-arrow{
  position:absolute;
  left:20px;
  top:15px;
  opacity:0;
  transition:opacity 200ms;
}

#goBackBtn{
  opacity:0;
  visibility:hidden;
  position:absolute;
  left:30px;
  top:30px;
  font-size:16px;
  padding:10px 20px;
  &:hover {
    padding-left:38px;
    .back-arrow {
      opacity:1;
      transition:all 300ms;
      transition-delay:300ms;
    }
  }
}

#modeBtn{
  position:absolute;
  left:2%;
  top:4%;
  padding:8px 16px 6px 16px;
  border-radius:50%;
}

#changeLangBtn{
  position:absolute;
  top:4%;
  right:4%;
  padding:10px 30px;
}

.small-btn {
  position:absolute;
  padding:18px;
  border-radius:99px;
  display:flex;
  align-items:center;
  visibility:hidden;
  opacity:0;
}

#settingsBtn {
  top:30px;
  right:40px;
}

#loading{display:none}
#words{
  font-size:5em;
  line-height:90px;
  padding:0 40px;
}
.App ol li{text-align:left}
#how-to-play {margin-top:60px}

.App ol{
  margin:auto;
  display:inline-block
}

#heading{
  font-size:80px;
  margin-bottom:30px
}

#select-list{
  display:none;
  overflow-y:scroll;
  height:60vh;
  margin:auto;
  width:99%;
  padding:0 0 10px 10px;
}

@mixin aside-lines{
  content:"";
  flex:1 1;
  border-bottom:2px solid #BEBEBE;
  margin:auto
}

.list-titles{
  display:flex;
  font-size:30px;
  flex-direction:row;
  &:before{
    @include aside-lines;
    margin: {left:13%;right:2%}
  }
  &:after{
    @include aside-lines;
    margin: {left:2%;right:13%}
  }
}

.select-lists{
  display:flex;
  flex-wrap:wrap;
  width:75%;
  margin:auto;
}

.block-space{
  position:absolute;
  left:4%;
  top:20%;
  width:92%;
  height:70%;
  background-color:white;
  z-index:9;
  border-radius:20px;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  transform:translateX(180%)
}

#want-to-quit-modal{
  position:absolute;
  z-index:99;
  background-color:white;
  padding:60px;
  border-radius: 20px;
  left:28%;
  right:28%;
  top:30%;
  transform:translateX(180%);
  display:none;
  h1{
    line-height:40px;
    margin-top:0;
  }
}

#want-to-quit-modal,#score-result{
  .btns-check{margin-top:30px}
}

@mixin invisible-bg{
  position:absolute;
  height:100vh;
  width:100vw;
  top:0;
  visibility:hidden;
  z-index:99;
}

#settings-drawer-anim {
  position:absolute;
  min-width:480px;
  right:0;top:0;
  width:35%;
  height:100vh;
  display:none;
  overflow:hidden;
  #circle {
    position:absolute;
    top:30px;
    right:40px;
    width:55.2px;
    height:55.2px;
    border-radius:50%;
    background-color:white;
    margin:auto;
    visibility:hidden;
    z-index:99;
    transition:background-color 300ms;
  }
}

#close-settings-btn {
  font-size:32px;
  position:absolute;
  top:40px;
  right:58px;
  color:#404040;
  z-index:100;
  visibility:hidden;
  opacity:0;
  transition:color 300ms;
  cursor:pointer;
  &:hover {
    color:black;
    transition:all 300ms;
  }
}

@keyframes settingsDrawerBg {
  from {
    visibility:visible;
    width:55.2px;
    height:55.2px;
  }
  to {
    width:200em;
    height:200em;
    transform:translate(100em, -100em);
    visibility:visible;
  }
}

@keyframes settingsDrawerBgClose {
  from {
    visibility:visible;
    width:150em;
    height:150em;
    transform:translate(75em, -75em);
  }
  to {
    display:none;
    width:55.2px;
    height:55.2px;
  }
}

#settings-drawer {
  position:absolute;
  overflow:hidden;
  min-width:480px;
  box-sizing:border-box;
  width:35%;
  height:100vh;
  background-color:transparent;
  top:0;
  right:0;
  z-index:99;
  transform:translateX(200%);
  padding:0 40px;
  text-align:left;
  display:none;
  h1{margin-top:30px}
}

.text-input {
  padding:10px 16px;
  border-radius:99px;
  border:2px solid #C9C9C9;
  font-size:16px;
  transition:box-shadow 400ms,background-color 300ms;
  box-sizing:border-box;
  &:focus-within,&:hover {
    box-shadow:0 0 5px #00000040;
    outline:none;
    transition:box-shadow 400ms;
  }
  &.warning {
    border-color:#ff9999;
    &:focus-within,&:hover{
      box-shadow:0 0 5px #ff000080;
    }
  }
}

#hidden-text {
  width:100%;
}

#warning-hidden-text {
  color:red;
  opacity:0;
  visibility:hidden;
  transform:translateY(5px);
  &.active {
    animation: warningText 200ms;
    animation-iteration-count: 2;
  }
}

@keyframes warningText {
  0%{
    transform:translateX(0px);
    font-weight:700;
  }
  50% {
    transform:translateX(5px);
    font-weight:700;
  }
  100% {
    transform:translateX(0px);
    font-weight:700;
  }
}

.setting-sec {
  margin-top:30px;
  h2 {
    margin-bottom:10px;
  }
}

.setting-text {
  display:inline-flex;
  z-index:99;
  position:absolute;
  margin:0;
  width:100%;
  top:-3px;
  .second,.second-th{
    width:48%;
    white-space:pre;
    display:inline-block;
    text-align:center;
  }
}

.switch {
  position:relative;
  height:50px;
  width:100%;
  display:inline-block;
  cursor: pointer;
}

.switch input {
  opacity:0;
  width:0;
  height:0;
}

.switch-toggle {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  background-color:#C9C9C9;
  border-radius:99px;
  &:before {
    content:"";
    position:absolute;
    height:42px;
    width:50%;
    left:4px;
    top:4px;
    border-radius:99px;
    background-color:white;
    transition:all 400ms;
  }
}

input:checked + .switch-toggle:before {
  content:"";
  transform:translateX(calc(100% - 8px));
  transition:all 400ms;
}

@keyframes settingsDrawerOpen {
  from {
    transform:translateX(200%);
    display:block;
  }
  to {
    transform:translateX(0%);
  }
}

@keyframes settingsDrawerClose {
  from {
    transform:translateX(0%);
  }
  to {
    transform:translateX(200%);
    display:none;
  }
}

#want-to-quit,#settings-drawer-mask{
  @include invisible-bg;
  background-color:#00000099;
  opacity:0;
}

.invisible-block{
  @include invisible-bg;
  background-color:#00000000;
}

.times-up-text{color:#E63737}

#javascript-disabled {
  background-color:white;
  border-radius:20px;
  padding:60px;
  width:30%;
  margin:10% auto;
  text-align:center;
  h1{margin:0}
  animation:mainAnimOut 900ms forwards;
}

#score-result{
  position:absolute;
  z-index:99;
  background-color:white;
  padding:60px;
  border-radius: 20px;
  left:30%;
  right:30%;
  top:15%;
  transform:translateY(-400%)
}

#block {
  width:50%;
  height:60px;
  background-color: transparent;
  cursor:pointer;
  position:relative;
  margin-bottom:-60px;
  transform:translateY(-50px);
  z-index:100;
  &.active {
    transform:translate(100%, -50px);
  }
}

.card{
  border:1px solid #bfbfbf;
  background-color:white;
  flex:33.33% 1;
  max-width:calc(33.33% - 20px);
  padding:3% 10px;
  margin:10px;
  border-radius:12px;
  box-sizing:border-box;
  cursor:pointer;
  transition:box-shadow 500ms,background-color 300ms,border 500ms;
  h2 {height:100%}
  &:hover{
    box-shadow:3px 3px 5px #bfbfbf;
    transition:all 500ms;
  }
  &:active{
    background-color:#e6e6e6;
    box-shadow:3px 3px 5px #bfbfbf;
    transition:box-shadow 500ms,background-color 300ms;
  }
}

#get-point {
  position:absolute;
  font-size:50px;
  color:#1D8500;
  right:30%;
  left:30%;
  z-index:0;
  opacity:0;
  visibility:hidden;
  &.animate {
    animation:getPoint 800ms ease-out;
  }
}

@keyframes getPoint {
  0% {
    transform:translateY(120%);
    opacity:1;
    visibility:visible;
  }
  75% {
    opacity:0;
    visibility:hidden;
  }
  100% {
    transform:translateY(0%);
  }
}

.words-in-screen{
  margin-top:20vh;
  animation:mainAnimOut 1.5s forwards
}

.appear {
  border:none;
  padding:10px 20px;
  font-size:16px;
  cursor:pointer;
  margin-right:16px;
  border-radius:99px;
  &.light-btn{
    background-color:black;
    color:white;
    transition:all 300ms;
  }
  &.dark-btn{
    background-color:white;
    color:black;
    transition:all 300ms;
    &:hover {
      background-color:#C9C9C9;
    }
  }
}

@media (min-width: 1800px){
  .card{
    flex:0 0 25%;
    max-width:calc(25% - 20px);
  }
}

@media (max-width:1023px){
  .card{
    flex:0 0 50%;
    max-width:calc(50% - 20px);
  }
  .sec-right{
    display:block;
    text-align:right;
    .btn {
      display:inline-block;
    }
  }
}

@media (max-width:767px){
  #heading {
    margin-top:110px;
    line-height:80px;
    font-size:60px;
  }
  #settings-drawer-anim{
    height:120vh;
  }
  #settings-drawer,#settings-drawer-anim {
    min-width:0;
    max-width:480px;
    width:100%;
  }
}

@media (max-height:767px){
  #settings-drawer {
    overflow-y:scroll;
  }
  ::-webkit-scrollbar {
    display:none;
  }
}

@keyframes headAnim{
  from{transform:translateY(0%)}
  to{transform:translateY(-200%)}
}

@keyframes mainAnim{
  from{
    opacity:1;
    visibility:visible;
  }
  to{
    opacity:0;
    visibility:hidden;
  }
}

@keyframes footAnim{
  from{transform:translateY(0%)}
  to{transform:translateY(300%)}
}

@keyframes headAnimOut{
  from{transform:translateY(-200%)}
  to{transform:translateY(0%)}
}

@keyframes mainAnimOut{
  from{
    opacity:0;
    visibility:hidden;
  }
  to{
    opacity:1;
    visibility:visible;
  }
}

@keyframes footAnimOut{
  from{transform:translateY(300%)}
  to{transform:translateY(0%)}
}

@keyframes changeBgSelectCate{
  from{background-color:#D4FFA8}
  to{background-color:#FFE0FD}
}

@keyframes changeBgGoBack{
  from{background-color:#FFE0FD}
  to{background-color:#D4FFA8}
}

@keyframes changeBgCate{
  from{background-color:#FFE0FD}
  to{background-color:#E0E4FF}
}

@keyframes changeBgToFront{
  from{background-color:#E0E4FF}
  to{background-color:#D4FFA8}
}

@keyframes openModal{
  from{transform:translateX(180%)}
  to{transform:translateX(0%)}
}

@keyframes closeModal{
  from{transform:translateX(0%)}
  to{transform:translateX(180%)}
}

@keyframes randomWordsOut{
  from{
    transform:translateX(0%);
    opacity:1;
  }
  to{
    transform:translateX(-100%);
    opacity:0;
  }
}

@keyframes randomWordsIn{
  from{
    transform:translateX(100%);
    opacity:0
  }
  to{
    transform:translateX(0%);
    opacity:1;
  }
}

@keyframes scoreResultIn{
  from{transform:translateY(-500%)}
  to{transform:translateY(0%)}
}

@keyframes scoreResultOut{
  from{transform:translateY(0%)}
  to{transform:translateY(-500%)}
}

.loading-icon{
  width:100px;
  height:100px;
  border-radius:50%;
  background:linear-gradient(0deg, #4a4eff, #aeb2ff);
  animation:loadingAnim 1s linear infinite;
  margin:auto;
  margin-bottom:40px
}

.inner-icon{
  border-radius:50%;
  margin:auto;
  display:block;
  width:90px;
  height:90px;
  background:#E0E4FF;
  transform:translate(0,5.25px)
}

@keyframes loadingAnim{
  from{transform:rotate(0deg)}
  to{transform:rotate(360deg)}
}

/* Dark Mode */

.dark-mode {
  background-color:#313c26;
  overflow:hidden;
  color:white;

  ::-webkit-scrollbar {
    width:10px;
  }
  ::-webkit-scrollbar-track {
    background:transparent;
  }
  ::-webkit-scrollbar-thumb {
    background:#404040;
    border-radius:99px;
    &:hover {
        background:#303030;
    }
    }
  .App{text-align:center}
  #lets-start .app-foot{
    position:absolute;
    width:100%;
    bottom:10%;
  }

  .btn{
    border:none;
    background-color:white;
    color:black;
    &.correct{
      background-color:#00D604;
      &:hover{
        background-color:#47E149;
        box-shadow:1px 1px 5px #00D604;
      }
    }
    &.incorrect{
      background-color:#E00000;
      &:hover{
        background-color:#E63737;
        box-shadow:1px 1px 5px #E00000;
      }
    }
    &:hover{
      background-color:#E0E0E0;
      box-shadow:1px 1px 5px white;
      transition-duration:300ms;
    }
  }

  .game{background-color:#272d60}

  .block-space,#score-result{
    background-color:#202020;
  }

  #want-to-quit-modal{
    background-color:#202020;
  }

  #settings-drawer-anim #circle {
    background-color:#202020;
    transition:all 300ms;
  }

  #close-settings-btn {
    color:white;
    &:hover {
      color:#C0C0C0;
      transition:all 300ms;
    }
  }

  #settings-drawer {
    color:white;
    transition:all 300ms;
  }

  .text-input {
    background-color:#202020;
    color:white;
    border:2px solid #606060;
    transition:box-shadow 400ms,background-color 300ms,border 300ms;
    box-sizing:border-box;
    &:focus-within,&:hover {
      box-shadow:0 0 5px #606060;
      outline:none;
      transition:box-shadow 400ms;
    }
    &.warning {
      border-color:#ff9999;
      &:focus-within,&:hover{
        box-shadow:0 0 5px #ff0000CC;
      }
    }
  }

  #warning-hidden-text,.times-up-text {
    color:#ff9e9e;
  }

  .setting-sec {
    color:white;
  }

  .switch-toggle {
    background-color:#606060;
    &:before {
        content:"";
        background-color:#202020;
    }
  }

  .card{
    border:1px solid transparent;
    background-color:#202020;
    color:white;
    &:hover{
      box-shadow:3px 3px 5px #303030;
      transition:all 500ms;
    }
    &:active{
      background-color:#666666;
      box-shadow:3px 3px 5px #303030;
      transition:box-shadow 500ms,background-color 300ms;
    }
  }

  .light-btn{
    background-color:transparent;
    transition:all 300ms;
  }

  #get-point {
    color:#1D8500;
  }

  @keyframes changeBgSelectCateDarkMode{
    from{background-color:#313c26}
    to{background-color:#3f1b3c}
  }

  @keyframes changeBgGoBackDarkMode{
    from{background-color:#3f1b3c}
    to{background-color:#313c26}
  }

  @keyframes changeBgCateDarkMode{
    from{background-color:#3f1b3c}
    to{background-color:#272d60}
  }

  @keyframes changeBgToFrontDarkMode{
    from{background-color:#272d60}
    to{background-color:#313c26}
  }

  .inner-icon{
    background:#272d60;
  }

  .light-btn:hover {
    background-color:black;
  }

  .dark-btn:hover {
    background-color:white;
  }
}